version: "3.8"

services:
  mongo:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongoadmin
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    image: mallikarjuningali/crud-dd-backend:latest
    environment:
      PORT: 8080
      MONGO_URI: mongodb://mongoadmin:examplepassword@mongo:27017/cruddb?authSource=admin
    depends_on:
      - mongo
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    image: mallikarjuningali/crud-dd-frontend:latest
    depends_on:
      - backend
    restart: unless-stopped

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped

volumes:
  mongo-data:
